html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.navbarDropdownBar .dropdown {
    margin-right: 8px;
}

nav a {
    color: black !important;
}

nav .navbar-brand {
    white-space: nowrap;
}

/* todo rename to vehicle */
.vehicelRegForm {
    display: grid;
    /*grid-template-columns: repeat(2, minmax(160px, 1fr));*/
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem; /* Remove any gap between cells */
    padding: 1rem; /* Remove padding */
    justify-content: center;
    align-content: center;
}

.vehicelRegForm > div {
    display: inline;
}

.vehicelRegForm button {
    grid-column: 2 / span 1;
    width: 150px;
}

.hidden {
    display: none;
}

.clickable {
    cursor: pointer;
}

dl dt {
    margin-bottom: 0.4rem;
}

.yes {
    color: green;
}

.no {
    color: red;
}