html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.navbarDropdownBar .dropdown {
    margin-right: 8px;
}

nav a {
    color: black !important;
}

nav .navbar-brand {
    white-space: nowrap;
}

.hidden {
    display: none;
}

.clickable {
    cursor: pointer;
}

dl dt {
    margin-bottom: 0.4rem;
}


.yes {
    color: green;
}

.no {
    color: red;
}

.invalid-item td {
    color: red !important;
}

.valid-item td {
    color: green !important;
}

.workedOn-item td {
    color: cornflowerblue !important;
}

.workedOn {
    color: cornflowerblue;
}

.rightSide {
    display: flex !important;
    justify-content: flex-end !important;
}

.centerSide {
    display: flex !important;
    justify-content: center !important;
}

.vehicleImage {
    width: 100%;
    max-height: 300px;
}


/*driver register*/
.birthNumberInput {
    display: flex;
}

/*driver register*/

.input-number:invalid {
    border-color: red; /* Change border color to indicate invalid input */
}

/*Gallery*/
.image-gallery-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
}

.image-item {
    width: 100%;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

    .image-item:hover {
        transform: scale(1.1);
    }

.selected-image {
    margin-top: 20px;
    text-align: center;
}

.selected-image-item {
    max-width: 400px;
    height: auto;
    margin-bottom: 10px;
}

.hide-button {
    margin-top: 10px;
}

.modal-image {
    max-width: 100%;
    height: auto;
}

.suspendedLicence {
    border: 5px solid red;
    border-radius: 10px;
}

#licenceForm .form-check {
    /*background-color:aqua;*/
    width: 60px;
}

#licenceForm label {
    margin-top: 0px;
}

.licenceSpan .form-check {
    width: 80px;
}

#DriverCreateModal label {
    margin-top: 0px;
}




#pac-input {
    max-width: 500px;
    min-width: 100px;
}

.pac-container {
    z-index: 1051 !important;
}

/*map attempt*/
#map {
    height: 200px;
}

label {
    margin-top: 10px;
}

ul li.nav-item {
    cursor: pointer;
}

.mainRow {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

    .mainRow a {
        text-decoration: none;
        color: black;
    }

.mainCard:hover {
    transform: scale(1.05);
    transition: transform 0.6s ease-in-out;
    color: cornflowerblue;
}

.mainCol-left {
    display: flex;
    justify-content: flex-start;
}

.mainCol-right {
    margin-right: 1rem;
    display: flex;
    justify-content: flex-end;
}

.mainCard {
    width: 325px;
    min-height: 150px;
    max-height: 300px;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .mainCol-right {
        justify-content: center;
        margin-right: 0;
    }

    .mainCol-left {
        justify-content: center;
    }

    .mainCard {
        margin-bottom: 2rem;
    }
}
